body {
    width: 1000px;
    margin: 0 auto;
}


/* header */
header {
    height: 100px;
    width: 1000px;
    border: 1px solid;
    margin: 0 auto;
}

header>div{
    width: 25%;
    height: 100%;
    float: left;
}
div.logo>img {
    width: 150px;
    height: 80px;
    margin-left: 10px;
    object-fit: contain;
}
header>nav>ul {
    width: 65%;
    float: right;
    height: 100%;
    line-height: 60px;
    font-size: 20px;
}
header>nav>ul>li {
    width: 30%;
    height: 100%;
    display: inline-block;
    text-align: center;
}
.nav a {
    text-decoration: none;
}
.submenu {
    display: none;
}


/* article */
article {
    height: 800px;
    border: 1px solid;
}
/* article.section.content */

section.content {
    width: 90%;
    height: 300px;
    object-fit: cover;
    border: 1px solid;
    float: inherit;
}
.imgslide {
    object-fit: cover;
}
/* article.section.notice */
section.notice {
    width: 45%;
    height: 200px;
    border: 1px solid;
    float: left;
    margin-left: 2%;
}
.notice h2 {
    line-height: 5px;
    text-align: center;
}
.table {
    margin: 0 auto;
    font-size: 13px;
}
.table td {
    text-align: left;
}
/* article.section.partner */
section.partner {
    width: 45%;
    height: 200px;
    border: 1px solid;
    float: right;
    margin-right: 2%;
}
.partner h2 {
    line-height: 5px;
    text-align: center;
}


/* article.section.icon */
section.icon {
    width: 90%;
    height: 200px;
    border: 1px solid;
    float: inline-start;
    margin-left: 5%;
}
/* footer */
footer {
    height: 100px;
    width: 1000px;
    border: 1px solid;
}