* {
    margin: 0 auto;
}

header {
    background-color: darkslategray;
    text-align: center;
}

header>h1 {
    color: white;
}

footer {
    background-color: darkslategray;
    text-align: center;
    color: white;
}